
<div id="batchModal" class="clearfix">
  <div class="modal-header clearfix">

   
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Upload a Batch</h4>

  </div>
  <div class="modal-body">
    <div class="col-md-12 no-padding">
      <form class="form-floating">
        <div class="form-group">
            <div class="row col-md-12 p-15">
                <div class="col-md-6">
                    <label for="batchProject">Select Project:</label>
                    <select id="batchProject" name="select-choice" class="form-control"
                            ng-options="project.key as project.title for project in projects | orderBy: 'title'"
                            ng-model="batch.projectKey"
                            ng-class="[{'task-color-black': task.key}] "
                            ng-change="clearMessages()"
                            ng-disabled="task.status === 'Promoted'"
                      >
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="batchNumberPerTask">Number of Concepts Per Task:</label>
                    <select id="batchNumberPerTask" name="number-choice" class="form-control"
                            ng-model="batch.batchNumberPerTask"
                      >
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
             <div class="row col-md-12 p-15">
                <div class="col-md-6">
                    <label for="batchAuthor">Select Assignee:</label>
                    <input id="batchAuthor" class="form-control" type="text" ng-model="author"
                        typeahead="suggestion as suggestion.displayName for suggestion in getAvailableUsers() | filter:{displayName:$viewValue}"  
                        typeahead-focus-first="false"                
                        typeahead-editable="false"
                        typeahead-on-select="addAuthor($item)"
                        typeahead-loading="typeaheadLoading"
                        typeahead-focus-custom
                        ng-keyup="listenReviewerTypeaheadEvent({event: $event})"> 
                        <i ng-show="typeaheadLoading" class="md md-cached"></i>                   
                      </input>
                </div>
                <div class="col-md-6">
                    <label for="batchReviewer">Select Reviewer</label>
                    <input id="batchReviewer" class="form-control" type="text" ng-model="reviewer"
                        typeahead="suggestion as suggestion.displayName for suggestion in getAvailableUsers() | filter:{displayName:$viewValue}"  
                        typeahead-focus-first="false"                
                        typeahead-editable="false"
                        typeahead-on-select="addReviewer($item)"
                        typeahead-loading="typeaheadLoading"
                        typeahead-focus-custom
                        ng-keyup="listenReviewerTypeaheadEvent({event: $event})"> 
                        <i ng-show="typeaheadLoading" class="md md-cached"></i>                   
                      </input>
                </div>
            </div>
        <br>
        <br>
            <div class="row colummn-md-12 p-25">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="btn btn-default btn-file column-md-4 btn-primary button-link sca-light-text" ng-disabled="!templateOptions.selectedTemplate || isBatchPopulated()"> Upload a File to create a Batch
                        <input id="batchFileUpload" type="file" name="tsvFile" accept=".tsv" onchange="angular.element(this).scope().uploadFile(this)" class="invisible">
                    </label>
                </div>
                <div class="col-md-4"></div>
            </div>
          <br>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer clearfix">
  <div class="card-action clearfix">
  <hr>
      <!-- Display create only if no task supplied -->
      <div class="col-md-4">
        <button type="button" class=" col-md-12 btn btn-warning no-margin"
                ng-click="close()">Cancel </button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="button" class="col-md-12 btn btn-info no-margin"
                ng-click="createTask(false)">Upload Batch </button>
      </div>
      
    </div>
</div>
